body {
    font-family: Verdana;
}

input.submit {
    border: 1px steelblue solid;
    background-color: #fdf3e9;
}

.hubbubUser, .hubbubPost {
    border: 3px steelblue ridge;
    width: 40%;
    text-align: center;
    background: #fdf3e9;
    margin: 8px;
    padding: 8px;
}

.userName {
    font-weight: bold;
}

.joinDate, .postDate {
    font-style: oblique;
}

.post {
    text-align: left;
    font-family: Arial;
    font-size: larger;
    margin: 8px;
    color: steelblue;
}

.postid {
    font-size: smaller;
    color: gray;
}

.nav a {
   margin: 5px 10px 5px 10px;
}

.flash {
    color: red;
}

.postArea {
    margin: 8px;
    padding: 8px;
}

textarea {
    resize: none;
    overflow: auto;
    font-family: Arial;
    font-size: 16px;
    outline: none;
    background: #fdf3e9;
}